@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
	 font-family: 'IBM Plex Sans KR', sans-serif;
}
  #list {
            width: 800px;
            margin-left: 50px;
        }

        #lnb {
            overflow: hidden;
            width: 800px;
        }

        #list #lnb ul {
        }

            #list #lnb ul li {
                background-color: #8fa8b3;
                float: left;
                width: 12%;
                height: 35px;
                line-height: 35px;
                text-align: center;
                list-style: none;
                border-radius: 5px 5px 0 0;
                margin-left: 1px;
            }

                #list #lnb ul li:hover {
                    background-color: #3e6170;
                }

                #list #lnb ul li a {
                    font-family: 'IBM Plex Sans KR', sans-serif;
                    text-decoration: none;
                    color: white;
                    font-size: 0.9em;
                }

                #list #lnb ul li:nth-child(3) {
                    background-color: #3e6170;
                }

                    #list #lnb ul li:nth-child(3) a {
                        font-family: 'IBM Plex Sans KR', sans-serif;
                        color: white;
                        font-size: 0.9em;
                    }


        #word {
            color: white;
            width: 70%;
            text-align: center;
            margin: 0 auto;
            padding-top: 10%;
        }

            #word p {
                font-size: 2.5em;
                font-family: 'IBM Plex Sans KR', sans-serif;
                font-family: 'Satisfy', cursive;
                font-family: 'The Nautigal', cursive;
                font-family: 'Domine', serif;
                color: #d1dde4;
            }
   #logos {
            width: 500px;
            margin: 20px auto;
            margin-top: 50px;
        }

            #logos p {
                font-family: 'Domine', serif;
                color: #3a4a54;
                font-size: 1.7em;
                font-weight: bold;
                width: 300px;
                margin: 0 auto;
                text-align: center;
            }
            
       table {
       margin: 50px auto;
       box-sizing: border-box;
       width: 800px;
       border-spacing: 0px;
    }
    caption {
       height: 30px;
       line-height: 30px;
       background-color:#2c4451;
       color:white;
       
    }
    th{
       border:1px solid lightgray;
       width: 100px;
       height:10px;
       font-size:0.9em;
    }
    .th-1{
    	height:100px;
    }
    .th-2{
    	height:130px;
    }
    td {
       border: 1px solid lightgray;
       padding-left : 8px;
       box-sizing: border-box;
    }
    img {
       text-align: center;
    }
    .ntitle {
       height: 50px;
    }
    /* td : button 들어가는 부분 */
    .btn {
       text-align: center;
       height: 50px;
    }
            
    button{
    	width:60px;
    	height:27px;
    	color:white;
    	background-color:#2c4451;
    	border:none;
    }        
table input[type="submit"]{
	height:30px;
	width:90px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
	text-align: center;
}
table input[type="button"]{
	height:30px;
	width:90px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
	text-align: center;
}       
            