@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#content{
	 width:30%;
	 margin:30px auto;
	 height:300px;
}
#content table{
	width:100%;
	border : 1px solid black;
	margin:0 auto;
	margin-top: 14%;
	box-shadow:3px 3px 3px 3px gray;
	height:200px;
}
caption{
   	   height: 30px;
       line-height: 30px;
       background-color:#2c4451;
       color:white;

}
th{
	padding:20px;
	width:50%;
}

input[type="password"]{
	width:150px;
}
.td-1{
	text-align: center;
	font-size:1.0em;
	padding-bottom:40px; 
	color:#2c4451;
	font-weight: bold;
	
}
   .btn {
       text-align: center;
       height:20px;
       padding:10px;
       margin:10px;
    }
input[type="submit"]{
	height:30px;
	width:90px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
	text-align: center;
}
input[type="button"]{
	height:30px;
	width:90px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
	text-align: center;
}    