@charset "UTF-8";
  /******************************************section********************************************/
        *{padding:0;
          margin:0;}
        
            
        section {
            margin: 0 auto;
            width: 100%;
        }

            section #main {
                width: 100%;
                height: 1000px;
                background: url('../../image/back5.png') no-repeat;
                border:1px solid white;
            }

                section #main table {
                    margin: 0 auto;
                    background-color: white;
                }

                    section #main table .firsttd {
                        background: url('../../image/login3.png') no-repeat;
                        width: 100%;
                        object-fit: cover;
                        height: 600px;
                    }
                    section #main table .secondtd {
                        text-align: center;
                        font-size: 1.2em;
                        font-family: 'Domine', serif;
                        color: #3c5d79;
                        font-weight:bold;
                    }

                    section #main table .thirdtd {
                        text-align: center;
                        color: #3c5d79;
                        font-weight: bold;

                    }
                        section #main table .thirdtd a {
                            text-align: center;
                            text-decoration: none;
                            color: #3c5d79;
                            font-size: 0.8em;
                        }

        #border {
            margin: 0 auto;
            margin-top: 150px;
            max-width: 670px;
            margin-top: 120px;
            margin-bottom: 50px;
            padding: 5px;
            border: 1px solid white;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }

        caption {
            font-family: 'Domine', serif;
            color: black;
            font-size: 1.7em;
            font-weight: bold;
            padding-left: 30px;
        }

        .login {
            font-family: 'Domine', serif;
            text-align: center;
            font-size: 1.3em;
            color: lightgray;
        }

        table tr {
            padding: 0px;
            height: 60px;
            margin: 0px;
        }

        table td {
            font-family: 'IBM Plex Sans KR', sans-serif;
            font-size: 1.0em;
            padding: 0px;
            padding-left: 10px;
            height:50px;
        }

        input {
            border: 1px solid white;
            border: 1px double lightgray;
            width: 325px;
            height: 45px;
        }

            input[type='submit'] {
                width: 330px;
                height: 40px;
                color: white;
                background-color: #83a4ad
            }