@charset "UTF-8";
*{
	margin:0;
	paddin:0;
}

        span.img1 {
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 295px;
            height: 25px;
            padding: 35px 0 0 5px;
            background: url(‘./blackOpacity.png’) repeat;
        }


        .slider {
            width: 100%;
            height: 450px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }

            .slider input[type=radio] {
                display: none;
            }

        ul.imgs {
            max-width: 100%;
            object-fit: cover;
            padding: 0;
            margin: 0;
        }



            ul.imgs li {
                position: absolute;
                left: 100%;
                transition-delay: 1s;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
            }

        img {
            width: 100%;
        }

        .bullets {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            z-index: 2;
        }

            .bullets label {
                display: inline-block;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.55);
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

        .slider input[type=radio]:nth-child(1):checked ~ .bullets > label:nth-child(1) {
            background-color: #fff;
        }

        .slider input[type=radio]:nth-child(2):checked ~ .bullets > label:nth-child(2) {
            background-color: #fff;
        }

        .slider input[type=radio]:nth-child(3):checked ~ .bullets > label:nth-child(3) {
            background-color: #fff;
        }

        .slider input[type=radio]:nth-child(4):checked ~ .bullets > label:nth-child(4) {
            background-color: #fff;
        }

        .slider input[type=radio]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
            left: 0;
            transition: 0.5s;
            z-index: 1;
        }

        .slider input[type=radio]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
            left: 0;
            transition: 0.5s;
            z-index: 1;
        }

        .slider input[type=radio]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
            left: 0;
            transition: 0.5s;
            z-index: 1;
        }

        .slider input[type=radio]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
            left: 0;
            transition: 0.5s;
            z-index: 1;
        }


     #logos {
            width: 500px;
            margin: 20px auto;
            margin-top: 50px;
        }

            #logos p {
                font-family: 'Domine', serif;
                color: #3c5d79;
                font-size: 1.7em;
                font-weight: bold;
                width: 300px;
                margin: 0 auto;
                text-align: center;
            }

/*********************************section**********************************/

section{
	width:100%;
	margin-bottom: 50px;
	 font-family: 'IBM Plex Sans KR', sans-serif;
}
#content{
	width:100%;

}
#content table{
	margin: 0 auto;
	width:80%;
	height:400px;
}
#content table th{
	height:30px;
	font-size:0.9em;
	background-color:#2c4451; /*d*/ 
	color:white;
}
#content table td{
	text-align: center;
	border-bottom: 1px dashed lightgray;
}

#content table button{
	border: 1px solid #2c4451;
	width:50px;
	height:25px;
	color : #2c4451;
	background-color:white;
	border-radius: 5px;
	font-weight: bold;
}
#register{
	 font-family: 'IBM Plex Sans KR', sans-serif;
	width:100%;
	background-color: white;
	text-align: center;
	height:35px;
	margin-bottom: 30px;
	margin-top:30px;
	border:2px dashed #2c4451;
}
#register a{
	text-decoration: none;
	color:#2c4451;
	line-height: 35px;
	font-weight: bold;
	font-size: 0.9em;
	
}


.paging{
	width:80%;
	margin: 10px auto;
	text-align: center;
}




















