@charset "UTF-8";
*{
 padding:0px;
 margin:0px;
 }
 #list {
            width: 800px;
            margin-left:50px;
        }
        #lnb{
        overflow:hidden;
        width:800px;
        }
        #list #lnb ul {
        }
            #list #lnb ul li {
                background-color: #8fa8b3;
                float: left;
                width: 12%;
                height: 35px;
                line-height: 35px;
                text-align: center;
                list-style: none;
                border-radius: 5px 5px 0 0;
                margin-left:1px;
            }
                #list #lnb ul li:hover {
                    background-color: #3e6170;
                }

                #list #lnb ul li a {
                    font-family: 'IBM Plex Sans KR', sans-serif;
                    text-decoration: none;
                    color: white;
                    font-size: 0.9em;
                }
	
            #list #lnb ul li:nth-child(2) {
                background-color: #3e6170;
            }
                #list #lnb ul li:nth-child(2) a {
                    font-family: 'IBM Plex Sans KR', sans-serif;
                    color: white;
                    font-size:0.9em;
                    
                }
 
/*             .hotelword { */
/*             	border: 1px solid red; */
/*                 padding-left: 4px; */
/*                 background: url("../image/hotel4.png") no-repeat; */
/*                 width: 100%; */
/*                 height: 350px; */
/*             } */
        #word {
            color: white;
            width: 70%;
            text-align: center;
            margin: 0 auto;
            padding-top: 140px;
        }
            #word p {
                font-size: 2.5em;
                font-family: 'IBM Plex Sans KR', sans-serif;
                font-family: 'Satisfy', cursive;
                font-family: 'The Nautigal', cursive;
                font-family: 'Domine', serif;
                color: #d1dde4;
            }