@charset "UTF-8";
*{
	padding : 0 px;
	margin : 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

section{
	width:70%;
	margin: 60px auto;
	
}
#Customer h4{
	font-size:1.2em;
}
#Customer p{
	font-size:0.9em;
}

section #Customerinfo{
	border:1px solid lightgray;
	margin-bottom: 20px;
	margin-top: 20px;
	height:150px;
	padding-top:30px;
	box-shadow:1px 1px 1px 1px lightgray;
	padding:30px;
}
section #Customerinfo table{
	width:70%;
	margin-top:0;
}
section #Customerinfo table th{
	text-align: left;
	font-size:0.9em;
	padding-left:10px;
}
section #Customerinfo table .passportinfo{
	font-size:0.8em;
	color: gray;
	text-align: left;
	padding-left: 10px;
	padding-top:15px;
	padding-bottom: 15px;
}
section #Customerinfo p{
	font-weight: bold;
	padding-bottom:5px;
}
section #Customerinfo input{
	margin-right:15px;
}
section #Customerinfo input[name="cname"]{
	width:25%;
	height:35px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Customerinfo input[name="cemail"]{
	width:30%;
	height:35px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Customerinfo input[name="cphone"]{
	width:30%;
	height:35px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

/*********************************************/

section #Passengerinfo{
	margin-bottom: 20px;
	height:130px;
	padding-top:15px;
	box-shadow:1px 1px 1px 1px lightgray;
	padding:30px;
	border:1px solid lightgray;
	
}
section #Passengerinfo table{
	width:70%;
	padding:10px;
}
section #Passengerinfo table th{
	text-align: left;
	font-size:0.9em;
	padding-left:10px;
}
section #Passengerinfo table td{
	padding:10px;
	}
section #Passengerinfo table select{
	border:1px solid lightgray;
	width:100px;
	color:gray;
}
section #Passengerinfo table input[type="date"]{
	border:1px solid lightgray;
	width:130px;
	color:gray;
}

section #Passengerinfo table input[type="text"]{
	border:1px solid lightgray;
	width:130px;
	color:gray;
	height:30px;
	border-radius: 3px;
}


section #Passengerinfo p{
	font-weight: bold;
	padding-bottom:10px;
}
section #Passengerinfo input{
	margin-right:15px;
}

section #Passengerinfo select{
	width:10%;
	height:35px;
	border: 1px solid lightgray;
	border-radius: 5px;
}


/*********************************************/
section #Payinfo{
	margin-bottom: 20px;
	height:250px;
	padding-top:15px;
	box-shadow:1px 1px 1px 1px lightgray;
	padding:30px;
	border:1px solid lightgray;
}

section #Payinfo p{
	font-weight: bold;
	padding-bottom:10px;
}
section #Payinfo input{
	margin-right:10px;
}
section #Payinfo table{
}
section #Payinfo table td{
	padding:5px;
}

section #Payinfo table #cardselect{
	width:150px;
	height:30px;
	border: 1px solid lightgray;
	border-radius:5px;
	color:gray;
}

section #Payinfo table input[name="card1"]{
	width:15%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Payinfo table input[name="card2"]{
	width:15%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Payinfo table input[name="card3"]{
	width:15%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Payinfo table input[name="cardname"]{
	width:30%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
	text-align: center;
}
section #Payinfo table input[name="cardbirth"]{
	width:30%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
	text-align: center;
	color:gray;
	
}
section #Payinfo table input[name="cardmonth"]{
	width:30%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
section #Payinfo table input[name="cardyear"]{
	width:30%;
	height:30px;
	border: 1px solid lightgray;
	border-radius: 5px;
}


section #Productinfo{
	margin-bottom: 20px;
	height:280px;
	padding-top:15px;
	box-shadow:1px 1px 1px 1px lightgray;
	padding:20px;
	border:1px solid lightgray;
}
section #Productinfo p{
	font-weight: bold;
	padding-bottom:10px;
	padding-left:10px;
}
section #Productinfo table{
	width:80%;

}
section #Productinfo table td{
	text-align: center;
}
section #Productinfo table th{
	font-size:0.9em;
	height:10px;
	padding:10px;
}



/*********************************************/


#submitbutton{
	width:50%;
	margin:0 auto;
	text-align: center;
	margin-top:50px;
}
#submitbutton input[type="submit"]{
	height:40px;
	width:100px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
}
#submitbutton input[type="button"]{
	height:40px;
	width:100px;
	border-radius: 5px;
	background-color: #3a4a54;
	color:white;
	border:none;
}